.mainContainer {
    display:flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    width: 100%;
    margin: 0 auto;
    
}

.cellContainer {
    margin-top: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


