.mainContainer {
    display:flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    width: 100%;
    margin: 0 auto;
    
}

.cellContainer {
    margin-top: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#root{
    font-size: 18px;
    
}

.unclickedCell{
    color: red;
    background: #C9C9C9;
    font-weight: 600;
}

.inputSelector{
    display: flex;
    flex-direction: column;
    margin: 10px;
    
    align-items: center;
    
}

.inputSelectorButtons{
    display: flex;
    flex-direction: column;
}

.textAndButtons{
    display: flex;
    
}

.setButton{
    font-size: 25px;
}